body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
h1 {
  text-align: center;
}
.calculator {
  background: #333;
  width: 400px;
  border: 1px solid black;
  margin: 10px auto;
}

.screen {
  height: 80px;
  margin: 2px 3px;
  margin: 2px;
  background: #9acd32;
}
.screen > div {
  height: 36px;
  text-align: right;
  font-size: 32px;
  line-height: 36px;
  padding: 2px 6px;
  overflow: hidden;
}

.buttons {
  display: flex;
  flex-wrap: wrap;
  width: 400px;
  justify-content: space-evenly;
}
button {
  width: 96px;
  height: 96px;
  margin: 2px 0;
  font-size: 32px;
  cursor: pointer;
}
